<div class="w3-row">
    <div class="w3-col l2 w3-hide-small w3-hide-medium">
        &nbsp;
        <!-- PLACEHOLDER -->
    </div>
    <div class="w3-card-4 w3-col l8 m12 s12">
        <div class="w3-container w3-teal">
            <h2>Prihlasovacia obrazovka</h2>
        </div>
        <form class="w3-container" [formGroup]="loginForm" (submit)="login()">
            <p>
                <label>Používateľské meno</label>
                <input class="w3-input" type="text" formControlName="username">
            </p>
            <p>
                <label>Heslo</label>
                <input class="w3-input" type="password" formControlName="password">
            </p>
            <p>
                <button class="w3-btn w3-teal" type="submit">Prihlásiť sa</button>
            </p>
        </form>
    </div>
</div>
