<div class="pd-container">
    <mat-toolbar color="primary" class="pd-toolbar mat-elevation-z5">
        <h1 class="pd-app-name">
            <a routerLink="/dashboard" *ngIf="authenticated">Pestovateľský denník</a>
            <span *ngIf="!authenticated">Pestovateľský denník</span>
        </h1>
        <span class="pd-spacer"></span>
        <ng-container *ngIf="authenticated">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profile">Profil</button>
            </mat-menu>
            <button mat-icon-button (click)="logout()" matTooltip="Odhlásiť sa"><mat-icon>logout</mat-icon></button>
        </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
