<div class="pd-main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="pd-card">

        <mat-card-header>
            <mat-card-title>Aktivácia účtu</mat-card-title>
            <mat-card-subtitle *ngIf="username">Je potrebné aktivovať účet.</mat-card-subtitle>
        </mat-card-header>

        <form [formGroup]="activationForm" (submit)="submit()" class="pd-card-form">
            <mat-card-content>
                <mat-form-field class="pd-full-width">
                    <mat-label>Používateľské meno</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="activationForm.controls['username'].hasError('required')">
                        Povinná položka
                    </mat-error>
                    <mat-error *ngIf="activationForm.controls['username'].hasError('minlength')">
                        Minimálne 5 znakov
                    </mat-error>
                    <mat-error *ngIf="activationForm.controls['username'].hasError('maxlength')">
                        Maximálne 25 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Aktivačný kľúč</mat-label>
                    <input matInput formControlName="token">
                    <mat-hint>Aktivačný kľúč nájdete v emaile.</mat-hint>
                    <mat-error *ngIf="activationForm.controls['token'].hasError('pattern')">
                        Nesprávny formát
                    </mat-error>
                    <mat-error *ngIf="activationForm.controls['token'].hasError('required')">
                        Povinná položka
                    </mat-error>
                </mat-form-field>
                <button mat-stroked-button color="primary" class="pd-btn-block pd-mt1" type="submit">Aktivovať</button>
                <button mat-stroked-button color="accent" class="pd-btn-block pd-mt1" type="button" routerLink="/login">Späť na prihlásenie</button>
            </mat-card-content>
        </form>

    </mat-card>

</div>
