<mat-tab-group mat-stretch-tabs>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>public</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            Miesta
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>local_florist</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            Rastliny
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>schedule</mat-icon>
        </ng-template>
        <ng-template matTabContent>
            Plán
        </ng-template>
    </mat-tab>
</mat-tab-group>
<button mat-fab color="primary" aria-label="Pridať miesto" class="pd-bottom-button">
    <mat-icon>add</mat-icon>
</button>
