<div class="pd-main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="pd-card">

        <mat-card-header>
            <mat-card-title>Registrácia</mat-card-title>
        </mat-card-header>

        <form [formGroup]="registrationForm" (submit)="submit()" class="pd-card-form">
            <mat-card-content>
                <mat-form-field class="pd-full-width">
                    <mat-label>Používateľské meno</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
                        Povinná položka
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['username'].hasError('minlength')">
                        Minimálne 5 znakov
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['username'].hasError('maxlength')">
                        Maximálne 25 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="registrationForm.controls['email'].hasError('required')">
                        Povinná položka
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['email'].hasError('email')">
                        Neplatný email
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['email'].hasError('minlength')">
                        Minimálne 5 znakov
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['email'].hasError('maxlength')">
                        Maximálne 255 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Meno</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-error *ngIf="registrationForm.controls['firstName'].hasError('maxlength')">
                        Maximálne 50 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Priezvisko</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-error *ngIf="registrationForm.controls['lastName'].hasError('maxlength')">
                        Maximálne 50 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Heslo</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                        Povinná položka
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['password'].hasError('minlength')">
                        Minimálne 8 znakov
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['password'].hasError('maxlength')">
                        Maximálne 255 znakov
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="pd-full-width">
                    <mat-label>Zopakovať heslo</mat-label>
                    <input matInput type="password" formControlName="password2">
                    <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                        Povinná položka
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['password2'].hasError('minlength')">
                        Minimálne 8 znakov
                    </mat-error>
                    <mat-error *ngIf="registrationForm.controls['password2'].hasError('maxlength')">
                        Maximálne 255 znakov
                    </mat-error>
                </mat-form-field>
                <button mat-stroked-button color="primary" class="pd-btn-block" type="submit">Zaregistrovať sa</button>
                <button mat-stroked-button color="accent" class="pd-btn-block pd-mt1" type="button" routerLink="/login">Späť na prihlásenie</button>
            </mat-card-content>
        </form>

    </mat-card>

</div>
